:root {

    --corbase: #5d5537;
    --cordestaque: #3a2e14; 
    --corsecundaria: #a3a2a2;
}


* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}

body , html {
    background-image: linear-gradient(-5deg,#070602 , #231c0b  80%);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

main {
    width: 98vw;
    height: 95vh;
    position: relative;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(214, 212, 212);
    width: 200px;
    height:428px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.471);
    

    transition: width .2s , height .2s;
    transition-timing-function: ease;
    transform: translate(-50% , -50%);
}


section#login > div#img {
    display: flex;
    background: var(--cordestaque) url(./imagem/logoByFinance.png);
    height: 148px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow:hidden ;
    border-radius: 15px 15px 0px 0px;
}

section#login > div#formu {
    display: block;
    padding: 8px;
}

div#formu > h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: rgb(58, 46, 20);
    text-align: center;
    text-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.250);
}

div#formu > p {
    font-size: .7em;
    line-height: 1.3;
    margin-bottom: 16px;
    text-align: justify;
    text-indent: 10px;
    text-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.212);
}

div#area {
    width: 100%;
    margin: 4px 0px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding-top: 1px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
}

form span {
   color: var(--cordestaque);
}

div#area span {
    width: 41px;
    padding: 7px;
    font-size: 1.6em;
}

div#area > input {
    width: calc(100% - 45px);
    font-size: 1em;
   background-color: var(--corsecundaria);
    padding: 7px;
    border: none;
    border-radius: 6px;
    transform: translateY(-11px);
}

div#area > label {
    display: none;
}

div#area > input:focus-within {
    background-color: rgb(0, 0, 0);
}


div#area > input:focus {
    background-color: var(--corsecundaria) !important;
    outline: none; 
    border: 2px solid var(--cordestaque);
}



 form input[type=submit] {
    display: block;
    width: 99%;
    height: 25px;
    background-color: rgba(28, 17, 1, 0.94);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white ;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    font-size: .9em;
    margin-top: 3px;
    transition: .4s;
    font-weight: bold;
}

form input[type=submit]:hover {
    background-color:white;
    color: rgba(28, 17, 1, 0.94);
    font-weight: bold;
    transition: 1.4;
    padding: 2px;
}

label {
    display: none;
}

form a.buton {
    display: block;
    height: 25px;
    width: 99%;
    padding-top: 3px;
    margin-top: 2px;
    background-color:white;
    border: 1px solid var(--cordestaque);
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    color: var(--cordestaque);
    font-size: .9em;
    font-weight: bold;
    transition: .4s;

}

form a.buton- {
    
    display: inline-block;
    height: 22px;
    width: 50%;
    padding: 4px;
    margin-top: 7px;
    background-color: white;
    border: 1px solid var(--cordestaque);
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    color: var(--cordestaque);
    font-size: .7em;
}

form a.buton:hover {
    background-color: rgba(28, 17, 1, 0.94);
    color: white;
    font-weight: bold;
    padding-top:4px ;
    transition: .4s;
}

form a.buton-:hover {
    background-color: rgba(28, 17, 1, 0.94);
    color: white;
    font-weight: bold;
    padding: 4px ;
    transition: .6s;
    text-align: center;
}

span#msg {
    font-size: .8em;
   
}

span#msg:hover {
    color: white;
}



span.letradestaque {
    font-size: .7em;
    text-align: center;
    display: none;
    color: var(--cordestaque);
}

span.mobile {
    font-size: 0.6em;
    font-weight: bold;
    color: var(--cordestaque);
}


.f {
    flex: auto;
    text-align: center;
    padding-top: 5px;
    font-size: .3em;
    color: rgba(28, 17, 1, 0.94);
    font-weight: bolder;
}

